body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #ffffff;
	padding: 20px;
	background: rgb(61,107,107);
	background: linear-gradient(0deg, rgba(61,107,107,1) 0%, rgba(6,6,6,1) 38%);
	height: 100vh;
	overflow: hidden;

  }
  
  h1 {
	font-size: 2rem;
	margin-bottom: 10px;
  }
  
  p {
	font-size: 1.1rem;
	margin-bottom: 20px;
  }
  
  .layout {
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
  	padding: 20px 0;
  }
  
  .grow1, .grow2, .grow3 {
	flex-grow: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 70px;
	height: 370px;
	width: 100px;
	background-color: rgb(36, 36, 36);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  ol{
	list-style-type: circle;
	color: #ffffff;
  }

  ol li{
	font-family:Arial, Helvetica, sans-serif;
  }
  
.info1, .info2, .info3 {
	height: 290px;
}
  
.buy-button {
	width: 98%;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 25px;
  }
  
  .buy-button:hover {
	transform: scale(1.05);
  }

  .buy-button:active {
    background-color: #326233;
    transform: scale(0.95);
}

.grow1 h2{
	color: rgb(255, 210, 215);
}

.grow2 h2{
	color:rgb(196, 177, 212);
}

.grow3 h2{
	color: rgb(255, 200, 98);
}

.grow1 .buy-button{
	background-color: rgb(255, 210, 215);
}

.grow2 .buy-button{
	background-color:rgb(196, 177, 212);
}

.grow3 .buy-button{
	background-color: rgb(255, 200, 98);
}