.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.alert-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #232531;
  padding: 10px 14px;
  /* border: 1px solid #642bff78; */
  border-radius: 8px;
  min-width: 260px;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}

.alert-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert-icon {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success .alert-icon {
  color: #2b9875;
}

.error .alert-icon {
  color: #d65563;
}

.icon {
  width: 20px;
  height: 20px;
}

.alert-message {
  min-width: 160px;
}

.close-btn {
  background: transparent;
  border: none;
  color: #8a8a8a;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.close-btn:hover {
  background: rgba(255, 255, 255, 0.08);
}
