.profile-container {
    position: fixed;
    top: 70px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111727;

  }
  
  .profile-card {
    min-width: 300px;
    padding: 16px;
    border: 2px solid #6366f1;
    border-radius: 12px;
    text-align: center;
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-icon {
    display: flex;
    height: 64px;
    width: 64px;
    margin: 0 auto 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #6366f1;
  }
  
  .profile-icon svg {
    color: #fff;
  }
  
  .profile-name {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #4f46e5;
  }
  
  .profile-role {
    margin-bottom: 16px;
    color: #868c93;
  }
  
  .profile-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .btn-primary {
    padding: 8px 16px;
    border-radius: 9999px;
    background: #6366f1;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn-primary:hover {
    background: #4f46e5;
  }
  
  .btn-secondary {
    padding: 8px 16px;
    border-radius: 9999px;
    background: #d1d5db;
    color: #111827;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn-secondary:hover {
    background: #9ca3af;
  }

  .btn-third {
    padding: 8px 16px;
    border-radius: 9999px;
    background: #ff0000;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .btn-third:hover {
    background: #ff0000ce;
  }

  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  