.song_form {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: rgba(247, 247, 247, 0.08);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 4px;
    border: 2px solid rgba(245, 245, 245, 0.2);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.song_form h3{
  font-size: 24px;
  text-align: center;
  margin: 5px;
}
  
  
.song_form label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #ffffff;
}
  
.song_form input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 10px 10px;
    font-size: 14px;
    color: whitesmoke;
	  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(43, 42, 42, 0.495);
    border-radius: 15px;
    border: 2px solid rgba(245, 245, 245, 0.2);
}

.song_form input[type="text"]::placeholder {
    text-align: center; /* add this line */
    color: #ccc;
}
  
.song_form button[type="submit"] {
  margin: 20px 0;
  border-radius: 25px;
  border: 2px solid #642bff;
  background: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form-group select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
}

.form-group select {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  appearance: none; 
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.imageClass{
  display: inline-block;
  width: 50%;
  background-color: #642bff;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 12px;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.imageClass:hover{
  background-color: #0056b3;
}

.song_form .up{
  color: white;
  font-size: 17px;
  margin: 0 10px;
}

.song_form input[type="file"] {
  display: none;
}
