
main.table{
	height: 90vh;
	width: 82vw;
	border-radius: .8rem;
	background-color: #fff5;
	box-shadow: 0 .4rem .8rem #0005;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.table_header {
	width: auto;
	height: 10%;
	background-color: #fff4;
	text-align: center;
	padding:.8rem 1rem;
	display: flex;
    justify-content: space-between;
    align-items: center;

}

.table_body{
	padding:20px;
	width: 95%;
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}

.table_body::-webkit-scrollbar{
	width: 0.5rem;
	height:0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
	border-radius: .8rem;
	background-color: #0004;
	visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
	visibility: visible;
}


table, th,td{
	border-collapse: collapse;
	padding: 1rem;
}

table{
	width:100%;
}

table th{
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr:nth-child(even){
	background-color: #fff6;
}

@media(max-width: 1000px){
	td:not(:first-of-type){
		min-width:12.1rem;
	}
}


header{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font-family: 'Poppins', 'sans-serif'; */
}

header .menu_side ,
.song_side {
	width: 20%;
	height: 90%;
	background: #111727;
	box-shadow: 5px 0px 2px #090f1f;
	color: white;
}

header .song_side {
	width: 80%;
	background: #0b1320;
}

header .master_play {
	position: fixed; /*edited*/
	left: 0;
	bottom: 0;
	width: 100%;
	height:10%;
	background: #111727;
	box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1{
	font-size: 30px;
	font-weight: bold;
	margin: 15px 0 0 20px;
	font-weight: 500;
}

header .menu_side span{
	color: #2b40ff;
}

header .menu_side .playlist {
	margin: 40px 0 0 20px;
}

header .menu_side .playlist h4{
	font-size: 20px;
	font-weight: 600;
	margin: 5px 5px;
	padding-bottom: 10px;
	color: #4c5262;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .3s linear;
}

header .menu_side .playlist h4:hover{
	color: white;
}

header .menu_side .playlist h4 span{
	position: relative;
	margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	border: 2px solid #4c5262;
	border-radius: 50%;
	top: -4%;
	transition: .3s linear;
}

header .menu_side .playlist h4:hover span::before{
	border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi {
	display: none;
}

header .menu_side .playlist .active {
	color:#36e2ec
}

header .menu_side .playlist .active span{
	display: none;
}

header .menu_side .playlist .active .bi{
	display: flex;
	margin-right: 20px;
}

header .menu_side .menu_song {
	width: 100%;
	height: 400px;
	margin-top: 40px;
	overflow: auto;
}
header .menu_side .menu_song::-webkit-scrollbar{
	display: none;
}

header .menu_side .menu_song li{
	list-style-type: none;
	position: relative;
	padding: 5px 0 5px 20px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
	transition: .3s linear;
}

header .menu_side .menu_song li:hover{
	background: rgb(105,105,105,.1);
}

header .menu_side .menu_song li span{
	font-size: 12px;
	font-weight: 600;
	color: #4c5262;
}

header .menu_side .menu_song li img{
	width: 32px;
	height: 32px;
	margin-left: 25px;
}
header .menu_side .menu_song li h5{
	font-size: 15px;
	margin-left: 10px;
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header .menu_side .menu_song li .subtitle{
	font-size: 11px;
	color: #4c5262;
}

header .menu_side .menu_song li .bi {
	position: absolute;
	right: 15px;

}

header .master_play{
	display: flex;
	align-items: center;
	padding: 0 20px;
}

header .master_play .wave{
	width: 30px;
	height: 30px;
	padding-bottom: 5px;
	display: flex;
	align-items: flex-end;
	margin-right: 10px;
}

header .master_play .wave .wave1{
	width: 3px;
	height: 10px;
	background: #36e2ec;
	margin-right: 3px;
	border-radius: 10px 10px 0px 0px;
	animation: unset;
}

header .master_play .wave .wave1.wave-play {
    animation: wave 1.5s ease-in-out infinite; /* Infinite animation when playing */
}


header .master_play .wave .wave1:nth-child(2){
	height: 13px;
	margin-right: 3.5px;
	animation-delay: .4s;
}

header .master_play .wave .wave1:nth-child(3){
	height: 8px;
	animation-delay: .8s;
}

/* javascript classes */
header .master_play .active1 .wave1 {
	animation-delay: wave .5s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2){
	animation-delay: .4s;
}

header .master_play .active1 .wave1:nth-child(3){
	height: 8px;
	animation-delay: .8s;
}

@keyframes wave {
	0% {
		height: 10px;
	}
	50% {
		height: 15px;
	}
	100% {
		height: 10px ;
	}

}
    
header .master_play img {
	width: 35px;
	height: 35px;
}

header .master_play h5 {
	width: 130px;
	margin-left: 15px;
	color:#fff;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

header .master_play h5 .subtitle {
	font-size: 11px;
	color: #4c5262;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header .master_play .icon {
	font-size: 20px;
	color: #fff;
	margin: 0px 20px 0px 40px;
	outline: none;
	display: flex;
	align-items: center;
}
header .master_play .icon .bi {
	cursor: pointer;
	outline: none;
	margin: 0 15px;
}

header .master_play .icon .shuffle {
	font-size: 17px;
	margin-right: 10px;
	width: 18px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

header .master_play .icon .bi:nth-child(3) {
	border: 1px solid rgb(105,105,105,.1);
	border-radius: 50%;
	padding: 1px 5px 0px 7px;
	margin: 0px 5px;
}

header .master_play span {
	color: #fff;
	width: 32px;
	font-size: 11px;
	font-weight: 400;
}

header .master_play span #currentStart {
	margin: 0 0 0 20px;
}

header .master_play .bar {
	position: relative;
	width: 43%;
	height: 2px;
	background: rgb(105,105,170,.1);
	margin: 0px 15px 0px 10px;
	
}
header .master_play .bar .bar2 {
	position: absolute;
	background:#36e2ec;
	width: 50%;
	height: 100%;
	top:0;
	transition: 1s linear;

}
/* 
header .master_play .bar .dot {
	position: absolute;
	width: 5px;
	height: 5px;
	background: #36e2ec;
	border-radius: 50%;
	left:0%;
	top: -1.5px;
	transition: 1s linear;
}


header .master_play .bar .dot::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #36e2ec;
	border-radius: 50%;
	left:-7px;
	top: -6.5px;
	box-shadow: inset 0 0 3px #36e2ec;
} */

header .master_play .bar input {
	position: absolute;
	width: 100%;
	height: 2px;
	top:0px;
	left:0;
	cursor: pointer;
	z-index: 999999999999999999999999999999999999999999999999999;
	opacity: 1;
}

header .master_play .vol {
	position: relative;
	width: 100px;
	height: 2px;
	background: rgb(105,105,170,.1);
	margin-left: 50px;
}

header .master_play .vol .bi {
	position: absolute;
	color: #fff;
	font-size: 25px;
	top:-17px;
	left:-30px;
}

header .master_play .vol input {
	position: absolute;
	width: 100%;
	height: 2px;
	top:0px;
	left:0;
	cursor: pointer;
	z-index: 9999999999999999999999999999999999999999999;
	opacity: 1;
}

header .master_play .vol .vol_bar {
	position: absolute;
	background: #36e2ec;
	width: 50%;
	height: 100%;
	top:0;
	transition: 1s linear;
}

header .master_play .vol .dot {
	position: absolute;
	width: 5px;
	height: 5px;
	background: #36e2ec;
	border-radius: 50%;
	left:0%;
	top: -1.5px;
	transition: 1s linear;
}

header .master_play .vol .dot::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #36e2ec;
	border-radius: 50%;
	left:-7px;
	top: -6.5px;
	box-shadow: inset 0 0 3px #36e2ec;
}

header .song_side {
	z-index: 2;
	padding-left: 20px;
	overflow: auto;
}

header .song_side::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 300px;
	background: url();
	z-index: -1;
}

header .song_side nav {
	width: 90%;
	height: 10%;
	margin-right: -20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .song_side nav ul{
	display: flex;
}
header .song_side nav ul li{
	list-style-type: none;
	position: relative;
	font-size: 13px;
	color:#4c5262;
	margin-right: 25px;
	cursor: pointer;
	transition: .3s linear;
}

header .song_side nav ul li:hover{
	color: #fff;
}

header .song_side nav ul li:nth-child(1){
	color: #fff;
}

header .song_side nav ul li span{
	position: absolute;
	width: 100%;
	height: 2.5px;
	background: #36e2ec;
	bottom: -5px;
	left:0;
	border-radius: 20px;
}
header .song_side nav .search{
	position: relative;
	width: 40%;
	height: 35px;
	padding: 1px 10px;
	border-radius: 20px;
	color: gray;
	display: flex;
}

header .song_side nav .search::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(105,105,164,.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	z-index: -1;
}

header .song_side nav .search .bi{
	font-size: 17px;
	padding: 7px 0 0 10px;
	
}
header .song_side nav .search input[type="text"]{
	background: none;
	border: none;
	outline: none;
	width: 100%;
	padding: 0 10px;
	color: #fff;
	font-family: 6px;
	
}

header .song_side nav .user{
	position: relative;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;

}

header .song_side .content{
	width: 90%;
	height: 30%;

	margin: auto;
	padding-top: 20px;
}

header .song_side .content h1{
	font-size: 25px;
	font-weight: 600;
}

header .song_side .content p{
	font-size: 11px;
	font-weight: 400;
	color: #4c5262;
	margin: 5px;
}

header .song_side .content .buttons{
	margin-top: 15px;
}

header .song_side .content .buttons button{
	width: 130px;
	height: 30px;
	border: 2px solid #36e2ec;
	outline: none;
	border-radius: 20px;
	background-color: #5adae0;
	color: #fff;
	cursor: pointer;
	transition: .3s linear;
}

header .song_side .content .buttons button:hover{
	background: none;
	color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2){
	background: none;
	color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2):hover{
	background: #36e2ec;
	color: #fff;
}

header .song_side .popular_song{
	width: 98%;
	height: auto;
	margin-top: 15px;

}
header .song_side .popular_song .h4{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .song_side .popular_song .h4 .bi{
	color: #a4a8b4;
	cursor: pointer;
	transition: .3 linear;
}
header .song_side .popular_song .h4 .bi:hover{
	color: #fff;
}
header .song_side .popular_song .pop_song{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	margin-top: 15px;
	display: flex;
    overflow-x: auto;
	overflow-y: hidden ;
	scroll-behavior: smooth;
	white-space: nowrap;
}

header .song_side .popular_song .pop_song::-webkit-scrollbar{
	display: none;
}

header .song_side::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .pop_song li{
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 0 10px;
	transition: .3s linear;
	flex-shrink: 0;
}


header .song_side .popular_song .pop_song li .img_play{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

header .song_side .popular_song .pop_song li .img_play img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit:cover;
}

header .song_side .popular_song .pop_song li .bi{
	position: relative;
	font-size: 20px;
	top:-180px;
	left: 240px;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;

	
}

/* add song list */

header .song_side .popular_song .pop_song .addSong{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	
}

header .song_side .popular_song .pop_song .addSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}

/* song not found */

header .song_side .popular_song .pop_song .noSong{
	/* background: rgba(255, 255, 255, 0.05); */
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	
}

header .song_side .popular_song .pop_song .noSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}


header .song_side .popular_song .pop_song li h5{
	background: rgb(0, 0, 0,0.5);
	position: relative;
	left: 0;
	bottom: 150px;
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

header .song_side .popular_song .pop_song li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #cdcdcecc;
}

header .song_side .popular_artist{
	width: 91%;
	height: auto;
	/* border: 1px solid #fff; */
	/* margin: auto; */
	margin-top: 15px;
}

header .song_side .popular_artist .h4{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .song_side .popular_artist .h4 .bi{
	color: #a4a8b4;
	cursor: pointer;
	transition: .3 linear;
}
header .song_side .popular_artist .h4 .bi:hover{
	color: #fff;
}
header .song_side .popular_artist .item{
	width: 100%;
	height: auto;
	margin-top: 15px;
	display: flex;
	overflow: auto;
	scroll-behavior: smooth;
}
header .song_side .popular_artist .item::-webkit-scrollbar{
	display: none;
}
header .song_side .popular_artist .item li{
	list-style-type: none;
	position: relative;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

header .song_side .popular_artist .item li img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #fff;
}

/* display playlist */
.song_side .newupdate{
	width: 100%;
	height: 200px;
}



header .song_side .newupdate img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header .song_side .newupdate .addplaylist{
	position: relative;
	top:-50%;
	margin: 10px 20px 10px 5px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-radius: 10px;
	/* background: url(../Image/grass.jpg); */
}

.song_side .newupdate .addplaylist .bi{
	font-size: 30px;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* button fixed start */

.song_side .createplaylist{
	position: fixed;
	width: 45px;
	right: 1.5%;
	bottom: 20%;
	display: flex;
	flex-direction: column;
}

.song_side .createplaylist .bi{
	font-size: 35px;
	margin: 0 10px;
	cursor: pointer;
	color: white;
	transition: all 0.3s ease;
}

/* From Uiverse.io by Yaya12085 */ 
.song_side .Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45px;
	height: 45px;
	border-radius: calc(45px/2);
	border: none;
	cursor: pointer;
	position: fixed;
	right: 1%;
	bottom: 11%;
	overflow: hidden;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  }
  
  /* plus sign */
  .song_side .Btn .sign {
	width: 100%;
	font-size: 2.2em;
	color: white;
	transition-duration: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  /* text */
  .song_side .Btn .text {
	position: absolute;
	right: 5%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.4em;
	font-weight: 500;
	margin-top: -5px;
	transition-duration: .3s;
  }
  /* hover effect on button width */
  .song_side .Btn:hover {
	width: 125px;
	transition-duration: .3s;
  }
  
  .song_side .Btn:hover .sign {
	width: 30%;
	transition-duration: .3s;
	padding-left: 15px;
  }
  /* hover effect button's text */
  .song_side .Btn:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: .3s;
	padding-left: 15px;
  }
  /* button click effect*/
  .song_side .Btn:active {
	transform: translate(2px ,2px);
  }

/* button fixed end */

header .song_side .popular_song .playlist_song{
	width: 95%;
	height: 500px;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto; 
	scroll-behavior: smooth;
	white-space: nowrap;
}

header .song_side .popular_song .playlist_song::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .playlist_song li{
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 10px;
	transition: .3s linear;
	flex-shrink: 0;
}


header .song_side .popular_song .playlist_song li .img_play{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

header .song_side .popular_song .playlist_song li .img_play img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	object-fit: cover;
}
header .song_side .popular_song .playlist_song li .bi{
	position: relative;
	font-size: 20px;
	top:-180px;
	left: 240px;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;

	
}

/* add song list */

header .song_side .popular_song .playlist_song .addSong{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	
}

header .song_side .popular_song .playlist_song .addSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}

/* song not found */

header .song_side .popular_song .playlist_song .noSong{
	/* background: rgba(255, 255, 255, 0.05); */
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	
}

header .song_side .popular_song .playlist_song .noSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}


header .song_side .popular_song .playlist_song li h5{
	position: relative;
	left: 0;
	bottom: 45px;
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

header .song_side .popular_song .playlist_song li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #cdcdcecc;
}

header .song_side .playbox{
	width: 100%;
	min-height: 80vh;
}

header .song_side .playbox .bi{
	font-size: 25px;
	cursor: pointer;
}

header .song_side .playbox .inputdata{
	position: fixed;
	top: 0;
	left: 20%;
	bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	width: 80%;
	z-index: 2;
	backdrop-filter: blur(5px);
}
header .song_side .playbox .inputdata .actualdata{
	background: rgb(0, 0, 0,0.5);
	border: 2px solid #818df863;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin: 0 20px 30px 0;
	padding: 20px 20px;
}



header .song_side .popular_song .playbox form label.text{
	font-size: 1rem;
	color: #818CF8;
	font-weight: 700;
	position: relative;
	margin: 0 0 5px 7px;
	padding: 0 3px;
	width: fit-content;
	background: none;
}


header .song_side .popular_song .playbox form input[type="text"].input{
	/* height:35px;
	border-radius: 10px;
	margin: 10px;
	font-size: 15px;
	padding: 0 10px; */
	color: white;
	padding: 11px 10px;
	font-size: 0.90rem;
	border: 2px #818df863 solid;
	border-radius: 5px;
	background: none;
}

header .song_side .popular_song .playbox form input[type="text"].input:focus {
	outline: none;
  }

header .song_side .popular_song .playbox form input[type="submit"]{
	color: white;
	padding: 11px 10px;
	font-size: 0.75rem;
	border: 2px #818CF8 solid;
	border-radius: 25px;
	background: none;
}


/* recent playlist song ypdate */
header .song_side .popular_song .playbox form .playlistSongs{
	width: 100%;
	height: 100%;
	margin-top: 15px;
	padding-top: 30px;  /* just update */
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow-x: auto;
	overflow-y: hidden; 
	scroll-behavior: smooth;
	white-space: nowrap;
}

/* for checkbox icon */

/* From Uiverse.io by sssynk */ 
/* Hide the default checkbox */
header .song_side .popular_song .playbox form input[type="checkbox"]{
	display: none;
}



/* Create a custom checkbox */
header .song_side .popular_song .playbox form .checkmark {
	position: relative;
	top: -10px;
	left: 10px;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	border-radius: 5px;
	z-index: 1;
}

/* When the checkbox is checked, add a blue background */
header .song_side .popular_song .playbox form input:checked ~ .checkmark {
	box-shadow: 3px 3px 0px rgb(183, 183, 183);
	transition: all 0.2s;
	opacity: 1;
	background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}

header .song_side .popular_song .playbox form input ~ .checkmark {
transition: all 0.2s;
opacity: 1;
box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
header .song_side .popular_song .playbox form .checkmark:after {
content: "";
position: absolute;
opacity: 0;
transition: all 0.2s;
}

/* Show the checkmark when checked */
header .song_side .popular_song .playbox form input:checked ~ .checkmark:after {
opacity: 1;
transition: all 0.2s;
}

/* Style the checkmark/indicator */
header .song_side .popular_song .playbox form .checkmark:after {
left: 0.45em;
top: 0.25em;
width: 0.25em;
height: 0.5em;
border: solid white;
border-width: 0 0.15em 0.15em 0;
transform: rotate(45deg);
}
/* check box finish */

header .song_side .popular_song .playbox form .playlistSongs::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .playbox form .playlistSongs li{
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 10px;
	transition: .3s linear;
}


header .song_side .popular_song .playbox form .playlistSongs li .img_play{
	width: 100%;
	height: 100%;
	
}
header .song_side .popular_song .playbox form .playlistSongs  li  .img_shadow{
	opacity: 0.7;
	
}
header .song_side .popular_song .playbox form .playlistSongs  li .img_play img{
	position: relative;
	top: -42px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit:cover;

}

header .song_side .popular_song .playbox form .playlistSongs  li .bi{
	position: relative;
	font-size: 20px;
	top:-180px;
	left: 240px;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;

	
}


/* song not found */

header .song_side .popular_song .playbox form .playlistSongs .noSong{
	/* background: rgba(255, 255, 255, 0.05); */
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	
}

header .song_side .popular_song .playbox form .playlistSongs .noSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}


header .song_side .popular_song .playbox form .playlistSongs li h5{
	position: relative;
	left: 0;
	bottom: 55%;
	height: auto;
	background: rgb(0, 0, 0,0.7);
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;

}

header .song_side .popular_song .playbox form .playlistSongs  li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #696e7d;
}