header{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font-family: 'Poppins', 'sans-serif'; */
}

header .menu_side {
	width: 20%;
	height: 100%;
	background: #111727;
	box-shadow: 5px 0px 2px #090f1f;
	color: white;
	display: flex;
	flex-direction: column;
}

header .menu_side img{
	width: 60%;
}

header .song_side {
	width: 80%;
	height: 100%;
	color: white;
	background: #0b1320;
}

header .song_side .box{
	margin:80px 0 ;
}

header .master_play {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height:10%;
	background: #111727;
	z-index: 3;
	box-shadow: 0px 3px 8px #090f1f;
	transform: translateX(0);
	transition: transform 1s ease;
}

header .master_play.closed {
	transform: translateX(100%);
}

header .masterMask{
	/* display: none; */
	position: fixed;
	right: 0;
	bottom: 0;
	width: 190px;
	height: 100px;

	-webkit-mask: url("https://res.cloudinary.com/dvwcy1jab/image/upload/v1744213390/bottom-right_hpgpgl.png") center / contain no-repeat;
	mask: url("https://res.cloudinary.com/dvwcy1jab/image/upload/v1744213390/bottom-right_hpgpgl.png") center / contain no-repeat;
    mask-size: 12rem;
    mask-position: top center;
    mask-composite: exclude;
    background-color:#4c5262;
	transform: translateX(100%);
	transition: transform 0.5s ease, opacity 0.3s ease;
	z-index: 4;

	/* ✅ Instead of display: none */
	visibility: hidden;
	opacity: 0;
	
}

header .masterMask.open {
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}

header .masterMask .miniMusic{
	position: absolute;
	bottom: 4px;
	right: 6px;
	height: 63%;
	width: 80%;
	/* border: 2px solid white; */
	background: #111727;
	padding: 5px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
header .masterMask .miniMusic .imgplay{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 2.5rem;
	margin: 0 5px;
}
header .masterMask .miniMusic .imgplay.playing{
	animation: spin 8s linear infinite;
}

@keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
header .masterMask .miniMusic .bi{
	font-size: 25px;
	cursor: pointer;
	color: white;
	margin: 5px;
}

header .menu_side h1{
	font-size: 30px;
	font-weight: bold;
	margin: 15px 0 0 20px;
	font-weight: 500;
}

header .menu_side span{
	color: #2b40ff;
}

header .menu_side .playlist {
	margin: 40px 0 0 20px;
}

header .menu_side .playlist h4{
	font-size: 20px;
	font-weight: 600;
	margin: 5px 5px;
	padding-bottom: 10px;
	color: #4c5262;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .3s linear;
}

header .menu_side .playlist h5{
	position: absolute;
	bottom: 13%;
	left: 3%;
	font-size: 18px;
	font-weight: 600;
	color: #71788c;
	cursor: pointer;
}

header .menu_side .playlist h4:hover{
	color: white;
}

header .menu_side .playlist h4 span{
	position: relative;
	margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	border: 2px solid #4c5262;
	border-radius: 50%;
	top: -4%;
	transition: .3s linear;
}

header .menu_side .playlist h4:hover span::before{
	border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi {
	display: none;
}

header .menu_side .playlist .active {
	color:#36e2ec
}

header .menu_side .playlist .active span{
	display: none;
}

header .menu_side .playlist .active .bi{
	display: flex;
	margin-right: 20px;
}

header .menuSong {
	position: fixed;
	top: 10%;
	left:41%;
	width: 30%;
	height: 30%;
	overflow: auto;
	z-index: 4;
}
header .menuSong::-webkit-scrollbar{
	display: none;
}

header .menuSong li{
	width: 100%;
	list-style-type: none;
	position: relative;
	padding: 5px 0;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
	transition: .3s linear;
	background: rgb(105,105,105,.8);
	border-radius: 3px;

}

header .menuSong li:hover{
	background: rgb(105,105,105,.5);
}

header .menuSong li span{
	font-size: 12px;
	font-weight: 600;
	color: #4c5262;
}

header .menuSong li img{
	width: 32px;
	height: 32px;
	margin-left: 25px;
}
header .menuSong li h5{
	font-size: 15px;
	margin-left: 10px;
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header .menuSong li .subtitle{
	font-size: 11px;
	color: #4c5262;
}

header .menuSong li .bi {
	position: absolute;
	right: 3%;
	bottom: 25%;
}

header .master_play{
	display: flex;
	align-items: center;
	padding: 0 20px;
}

header .master_play .wave{
	width: 30px;
	height: 30px;
	padding-bottom: 5px;
	display: flex;
	align-items: flex-end;
	margin-right: 10px;
}

header .master_play .wave .wave1{
	width: 3px;
	height: 10px;
	background: #36e2ec;
	margin-right: 3px;
	border-radius: 10px 10px 0px 0px;
	animation: unset;
}

header .master_play .wave .wave1.wave-play {
    animation: wave 1.5s ease-in-out infinite; /* Infinite animation when playing */
}


header .master_play .wave .wave1:nth-child(2){
	height: 13px;
	margin-right: 3.5px;
	animation-delay: .4s;
}

header .master_play .wave .wave1:nth-child(3){
	height: 8px;
	animation-delay: .8s;
}

/* javascript classes */
header .master_play .active1 .wave1 {
	animation-delay: wave .5s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2){
	animation-delay: .4s;
}

header .master_play .active1 .wave1:nth-child(3){
	height: 8px;
	animation-delay: .8s;
}

@keyframes wave {
	0% {
		height: 10px;
	}
	50% {
		height: 15px;
	}
	100% {
		height: 10px ;
	}

}
    
header .master_play img {
	width: 35px;
	height: 35px;
}

header .master_play h5 {
	width: 130px;
	margin-left: 15px;
	color:#fff;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

header .master_play h5 .subtitle {
	font-size: 11px;
	color: #4c5262;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header .master_play .bicon {
	font-size: 20px;
	color: #fff;
	margin: 0px 20px 0px 40px;
	outline: none;
	display: flex;
	align-items: center;
}
header .master_play .bicon .bi {
	cursor: pointer;
	outline: none;
	margin: 0 15px;
}

header .master_play .bicon .shuffle {
	font-size: 17px;
	margin-right: 10px;
	width: 18px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

header .master_play .bicon .bi:nth-child(3) {
	border: 1px solid rgb(105,105,105,.1);
	border-radius: 50%;
	padding: 1px 5px 0px 7px;
	margin: 0px 5px;
}

header .master_play span {
	color: #fff;
	width: 32px;
	font-size: 11px;
	font-weight: 400;
}

header .master_play span #currentStart {
	margin: 0 0 0 20px;
}

header .master_play .bar {
	position: relative;
	width: 43%;
	height: 2px;
	background: rgb(105,105,170,.1);
	margin: 0px 15px 0px 10px;
	
}
header .master_play .bar .bar2 {
	position: absolute;
	background:#36e2ec;
	width: 50%;
	height: 100%;
	top:0;
	transition: 1s linear;

}


header .master_play .bar input {
	position: absolute;
	width: 100%;
	height: 2px;
	top:0px;
	left:0;
	cursor: pointer;
	z-index: 1;
	opacity: 1;
}

header .master_play .vol {
	position: relative;
	width: 100px;
	height: 2px;
	background: rgb(105,105,170,.1);
	margin-left: 50px;
}

header .master_play .vol .bi {
	position: absolute;
	color: #fff;
	font-size: 25px;
	top:-17px;
	left:-30px;
}

header .master_play .vol input {
	position: absolute;
	width: 100%;
	height: 2px;
	top:0px;
	left:0;
	cursor: pointer;
	z-index: 1;
	opacity: 1;
}

header .master_play .vol .vol_bar {
	position: absolute;
	background: #36e2ec;
	width: 50%;
	height: 100%;
	top:0;
	transition: 1s linear;
}

header .master_play .vol .dot {
	position: absolute;
	width: 5px;
	height: 5px;
	background: #36e2ec;
	border-radius: 50%;
	left:0%;
	top: -1.5px;
	transition: 1s linear;
}

header .master_play .vol .dot::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #36e2ec;
	border-radius: 50%;
	left:-7px;
	top: -6.5px;
	box-shadow: inset 0 0 3px #36e2ec;
}

header .song_side {
	z-index: 2;
	padding-left: 20px;
	overflow: auto;
}

header .song_side::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 300px;
	z-index: -1;
}

header .song_side nav {
	position: fixed;
	width: 80%;
	height: 10%;
	margin-right: -20px;
	background: #0b1320;
	display: flex;
	align-items: center;
	z-index: 1;
	justify-content: space-between;
}

header .song_side nav .premium{
	position: relative;
	height: 40px;
	/* width: 250px; */
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: wheat;

}

header .song_side nav .mask {
	width: 190px;
	height: 70px;
	display: flex;
	justify-content: center;

	-webkit-mask: url("https://res.cloudinary.com/dvwcy1jab/image/upload/v1744213389/top-center_wobskh.png") center / contain no-repeat;
	mask: url("https://res.cloudinary.com/dvwcy1jab/image/upload/v1744213389/top-center_wobskh.png") center / contain no-repeat;
    mask-size: 12rem;
    mask-position: top center;
    mask-composite: exclude;
    background-color:#4c5262;
}

header .song_side nav .mask .status{
	background:#090f1f;
	width: 72%;
	height: 80%;
	margin-top: 4px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#36e2ec;
	font-size: 18px;
    font-weight: 600;
}

header .song_side nav .mask .status img{
	width: 45px;
	height: 45px;
	margin-left: -10px;
}

header .song_side nav .search{
	position: relative;
	width: 40%;
	height: 35px;
	padding: 1px 10px;
	border-radius: 20px;
	color: gray;
	display: flex;
}

header .song_side nav .search::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(105,105,164,.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	z-index: -1;
}

header .song_side nav .search .bi{
	font-size: 17px;
	padding: 7px 0 0 10px;
	
}
header .song_side nav .search input[type="text"]{
	background: none;
	border: none;
	outline: none;
	width: 100%;
	padding: 0 20px;
	color: #fff;
	font-family: 6px;
	
}

header .song_side nav .user{
	margin-right: 35px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
header .song_side nav .user img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

header .song_side .content{
	position: relative;
	width: 90%;
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

header .song_side .content .contentData{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 60%;
}
header .song_side .content h1{
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-size: 50px;
	font-weight: 500;
	font-style: normal;
}

header .song_side .content p{
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	font-weight: 400;
	color: #4c5262;
}

header .song_side .content .contentImage{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 40%;
	z-index: -1;
}

header .song_side .content .contentImage img{
	width: 120%;
	height: 120%;
}

header .song_side .content .buttons{
	margin-top: 15px;
}

header .song_side .content .buttons button{
	width: 130px;
	height: 30px;
	border: 2px solid #36e2ec;
	outline: none;
	border-radius: 20px;
	background-color: #5adae0;
	color: #fff;
	cursor: pointer;
	transition: .3s linear;
	margin: 5px;
}

header .song_side .content .buttons button:hover{
	background: none;
	color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2){
	background: none;
	color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2):hover{
	background: #36e2ec;
	color: #fff;
}

header .song_side .popular_song{
	width: 98%;
	height: auto;
	margin-top: 15px;


}
header .song_side .popular_song .h4{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .song_side .popular_song .h4 .bi{
	color: #a4a8b4;
	cursor: pointer;
	transition: .3 linear;
}
header .song_side .popular_song .h4 .bi:hover{
	color: #fff;
}
header .song_side .popular_song .pop_song{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	margin-top: 15px;
	display: flex;
    overflow-x: auto;
	overflow-y: hidden ;
	scroll-behavior: smooth;
	white-space: nowrap;
}


header .song_side .popular_song .pop_song::-webkit-scrollbar{
	display: none;
}

header .song_side::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .pop_song li{
	position: relative;
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 0 10px;
	transition: .3s linear;
	flex-shrink: 0;
}


header .song_side .popular_song .pop_song li .img_play{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

header .song_side .popular_song .pop_song li .img_play img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit:cover;
}

header .song_side .popular_song .pop_song .options{
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom:2%;
	right: 2%;

}

header .song_side .popular_song .pop_song .options .options-menu{
	position: absolute;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	top:40%;
	right: 2%;
	font-size: 16px;
	border: 2px solid #5a42f38b;
	background: #111727;
}

header .song_side .popular_song .pop_song .options .options-menu button{
	width: 80px;
	height: 20px;
	border: none;
	outline: none;
	border-radius: 3px;
	margin: 2px;
	background: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: .3s linear;
}

header .song_side .popular_song .pop_song .options .options-menu button:hover{
	background: #4c5262;
}

header .song_side .popular_song .pop_song li .bi{
	font-size: 20px;
	margin-top: 460%;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;	
}

/* add song list */

header .song_side .popular_song .pop_song .addSong{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	
}

header .song_side .popular_song .pop_song .addSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}

/* song not found */

header .song_side .popular_song .pop_song .noSong{
	position: relative;
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	overflow: hidden;
	
}




header .song_side .popular_song .pop_song li h5{
	background: rgb(0, 0, 0,0.5);
	border-radius: 10px;
	position: relative;
	left: 0;
	bottom: 150px;
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

header .song_side .popular_song .pop_song li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #cdcdcecc;
}

header .song_side .popular_artist{
	width: 98%;
	height: auto;
	margin: 15px 0 20px 0;
}

header .song_side .popular_artist .h4{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .song_side .popular_artist .h4 .bi{
	color: #a4a8b4;
	cursor: pointer;
	transition: .3 linear;
}
header .song_side .popular_artist .h4 .bi:hover{
	color: #fff;
}
header .song_side .popular_artist .artist-list{
	width: 100%;
	height: 200px;
	margin: 15px;
	padding: 10px;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	/* border: 2px solid white; */
}
header .song_side .popular_artist .artist-list::-webkit-scrollbar{
	display: none;
}
header .song_side .popular_artist .artist-list li{
	list-style-type: none;
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;
}

header .song_side .popular_artist .artist-list li .artist-image{
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

header .song_side .popular_artist .artist-list li img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* border: 1px solid #fff; */
	object-fit: cover;
}

.artist .artist-image:hover .play-btn,
.artist .artist-image:hover .options-btn {
    display: block;
}

header .song_side .popular_artist .artist-list li .artist-image:hover {
    transform: scale(1.05);
}

header .song_side .popular_artist .artist-list li .artist-image:hover .play-btn,
header .song_side .popular_artist .artist-list li .artist-image:hover .options-btn {
    display: block;
}

header .song_side .popular_artist .artist-list li h5{
	color: white;
	font-size: 20px;
}


header .song_side .popular_artist .artist-list li .artist-name {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    margin: 10px;
    text-align: center;
}

header .song_side .popular_artist .artist-list li .play-btn {
    display: none;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border: none;
    padding: 7px 10px;
    border-radius: 50%;
    background: wheat;
    color: black;
    cursor: pointer;
    transition: background 0.3s; 
}

header .song_side .popular_artist .artist-list li .options-container {
    position: absolute;
    top: 3px;
    right: 3px;
    display: inline-block;
    margin-left: 10px;
}

header .song_side .popular_artist .artist-list li .options-btn {
    display: none;
    background: #666;
    color: white;
    padding: 7px 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

header .song_side .popular_artist .artist-list li .options-btn:hover {
    background: #444;
}

header .song_side .popular_artist .artist-list li .options-menu {
    position: absolute;
    top: 35px;
    right: 0;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 0;
    display: none;
}

header .song_side .popular_artist .artist-list li .options-container .options-menu {
    display: block;
}

header .song_side .popular_artist .artist-list li .options-menu button {
    background: none;
    border: none;
    color: black;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    display: block;
}

header .song_side .popular_artist .artist-list li .options-menu button:hover {
    background: #f5f5f5;
}

header .song_side .popular_artist .artist-list li .noArtist {
    text-align: center;
    font-weight: bold;
    color: gray;
}

header .song_side .popular_artist .artist-list li .bi{
    font-size: 20px;

}

/* display playlist */
.song_side .newupdate{
	position: relative;
	width: 100%;
	height: 200px;
	/* border: 2px solid white; */
}

header .song_side .newupdate img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

header .song_side .newupdate .addplaylist{
	position: absolute;
	bottom: 0;
	width: 99%;
	margin: 10px 20px 10px 5px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	/* border: 2px solid white; */
	/* background: url(../Image/grass.jpg); */
}

.song_side .newupdate .addplaylist .bi{
	font-size: 30px;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* button fixed start */

.song_side .createplaylist{
	position: fixed;
	width: 45px;
	right: 1.5%;
	bottom: 20%;
	display: flex;
	flex-direction: column;
}

.song_side .createplaylist .bi{
	font-size: 35px;
	margin: 0 10px;
	cursor: pointer;
	color: white;
	transition: all 0.3s ease;
}

/* From Uiverse.io by Yaya12085 */ 
.song_side .Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45px;
	height: 45px;
	border-radius: calc(45px/2);
	border: none;
	cursor: pointer;
	position: fixed;
	right: 1%;
	bottom: 11%;
	overflow: hidden;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  }
  
  /* plus sign */
  .song_side .Btn .sign {
	width: 100%;
	font-size: 2.2em;
	color: white;
	transition-duration: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  /* text */
  .song_side .Btn .text {
	position: absolute;
	right: 5%;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.4em;
	font-weight: 500;
	margin-top: -5px;
	transition-duration: .3s;
  }
  /* hover effect on button width */
  .song_side .Btn:hover {
	width: 125px;
	transition-duration: .3s;
  }
  
  .song_side .Btn:hover .sign {
	width: 30%;
	transition-duration: .3s;
	padding-left: 15px;
  }
  /* hover effect button's text */
  .song_side .Btn:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: .3s;
	padding-left: 15px;
  }
  /* button click effect*/
  .song_side .Btn:active {
	transform: translate(2px ,2px);
  }

/* button fixed end */

header .song_side .popular_song .playlist_song{
	width: 100%;
	height: 500px;
	margin-top: 15px;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden; 
	scroll-behavior: smooth;
}

header .song_side .popular_song .playlist_song::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .playlist_song li{
	position: relative;
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 8px;
	transition: .3s linear;
}


header .song_side .popular_song .playlist_song li .img_play{
	width: 100%;
	height: 100%;	
}

header .song_side .popular_song .playlist_song li .img_play img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	object-fit: cover;
}
header .song_side .popular_song .playlist_song li .bi{
	position: absolute;
	font-size: 20px;
	right: 3px;
	bottom: 2px;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;	
}

/* add song list */

header .song_side .popular_song .playlist_song .addSong{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	
}

header .song_side .popular_song .playlist_song .addSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}

/* song not found */

header .song_side .popular_song .playlist_song .noSong{
	/* background: rgba(255, 255, 255, 0.05); */
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	
}

header .song_side .popular_song .playlist_song .noSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}


header .song_side .popular_song .playlist_song li h5{
	position: relative;
	left: 0;
	bottom: 45px;
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

header .song_side .popular_song .playlist_song li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #cdcdcecc;
}

header .song_side .playbox{
	width: 100%;
	min-height: 80vh;
}

header .song_side .playbox .bi{
	font-size: 25px;
	cursor: pointer;
}

header .song_side .playbox .inputdata{
	position: fixed;
	top: 0;
	left: 20%;
	bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	width: 80%;
	z-index: 2;
	backdrop-filter: blur(5px);
}
header .song_side .playbox .inputdata .actualdata{
	background: rgb(0, 0, 0,0.5);
	border: 2px solid #818df863;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin: 0 20px 30px 0;
	padding: 20px 20px;
}

header .song_side .playbox .inputdata .actualdata .imageClass{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .song_side .playbox .inputdata .actualdata .imageClass .up{
	margin: 0 20px;
}

header .song_side .playbox .inputdata .actualdata input[type="file"]{
	display: none;
}


header .song_side .popular_song .playbox form label.text{
	font-size: 1rem;
	color: #818CF8;
	font-weight: 700;
	position: relative;
	margin: 0 0 5px 7px;
	padding: 0 3px;
	width: fit-content;
	background: none;
}


header .song_side .popular_song .playbox form input[type="text"].input{
	/* height:35px;
	border-radius: 10px;
	margin: 10px;
	font-size: 15px;
	padding: 0 10px; */
	color: white;
	padding: 11px 10px;
	font-size: 0.90rem;
	border: 2px #818df863 solid;
	border-radius: 5px;
	background: none;
}

header .song_side .popular_song .playbox form input[type="text"].input:focus {
	outline: none;
  }

header .song_side .popular_song .playbox form button[type="submit"]{
	display: inline-flex;
	align-items: center;
  	justify-content: center;
	color: white;
	padding: 11px 10px;
	font-size: 0.75rem;
	border: 2px #818CF8 solid;
	border-radius: 25px;
	background: none;
}

header .song_side .popular_song .playbox form button .loading-spinner {
	border: 3px solid #f3f3f3;
	border-top: 3px solid #00c2cb;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  


/* recent playlist song ypdate */
header .song_side .popular_song .playbox form .playlistSongs{
	width: 110%;
	height: 100%;
	margin-top: 15px;
	padding-top: 30px;  /* just update */
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow-x: auto;
	overflow-y: hidden; 
	scroll-behavior: smooth;
	white-space: nowrap;
}

/* for checkbox icon */

/* From Uiverse.io by sssynk */ 
/* Hide the default checkbox */
header .song_side .popular_song .playbox form input[type="checkbox"]{
	display: none;
}



/* Create a custom checkbox */
header .song_side .popular_song .playbox form .checkmark {
	position: relative;
	top: -10px;
	left: 10px;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	border-radius: 5px;
	z-index: 1;
}

/* When the checkbox is checked, add a blue background */
header .song_side .popular_song .playbox form input:checked ~ .checkmark {
	box-shadow: 3px 3px 0px rgb(183, 183, 183);
	transition: all 0.2s;
	opacity: 1;
	background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}

header .song_side .popular_song .playbox form input ~ .checkmark {
transition: all 0.2s;
opacity: 1;
box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
header .song_side .popular_song .playbox form .checkmark:after {
content: "";
position: absolute;
opacity: 0;
transition: all 0.2s;
}

/* Show the checkmark when checked */
header .song_side .popular_song .playbox form input:checked ~ .checkmark:after {
opacity: 1;
transition: all 0.2s;
}

/* Style the checkmark/indicator */
header .song_side .popular_song .playbox form .checkmark:after {
left: 0.45em;
top: 0.25em;
width: 0.25em;
height: 0.5em;
border: solid white;
border-width: 0 0.15em 0.15em 0;
transform: rotate(45deg);
}
/* check box finish */

header .song_side .popular_song .playbox form .playlistSongs::-webkit-scrollbar{
	display: none;
}

header .song_side .popular_song .playbox form .playlistSongs li{
	width: 270px;
	height: 150px;
	list-style-type: none;
	margin: 10px;
	transition: .3s linear;
}


header .song_side .popular_song .playbox form .playlistSongs li .img_play{
	width: 100%;
	height: 100%;
	
}
header .song_side .popular_song .playbox form .playlistSongs  li  .img_shadow{
	opacity: 0.7;
	border-radius: 10px;
	
}
header .song_side .popular_song .playbox form .playlistSongs  li .img_play img{
	position: relative;
	top: -42px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit:cover;

}

header .song_side .popular_song .playbox form .playlistSongs  li .bi{
	position: relative;
	font-size: 20px;
	top:-180px;
	left: 240px;
	cursor: pointer;
	transition: .3s linear;
	opacity: 1;

	
}


/* song not found */

header .song_side .popular_song .playbox form .playlistSongs .noSong{
	/* background: rgba(255, 255, 255, 0.05); */
	background: linear-gradient( to right,rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	border-radius: 10px;
	
}

header .song_side .popular_song .playbox form .playlistSongs .noSong .bi{
	position: relative;
	top: 40%;
	left: 47%; 
	opacity: 1;
	cursor: pointer;
	transition: .3s linear;

}


header .song_side .popular_song .playbox form .playlistSongs li h5{
	position: relative;
	left: 0;
	bottom: 55%;
	height: auto;
	background: rgb(0, 0, 0,0.7);
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px 0 0 10px;
	line-height: 15px;
	font-size: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;

}

header .song_side .popular_song .playbox form .playlistSongs  li h5 .subtitle{
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px;
	color: #696e7d;
}